/* 
Comentario en CSS

Regla CSS constra de 2 partes
1) selector
2) Bloque de declaraciones: {
    atributo: valor;
    atributo-de-mas-dos-palabras: otro-valor;
} 
*/

/* Son mala práctica porque son bloqueantes a la hora de que el navegador lee esta  instruccion */
/* @import url(otro-hoja.css); */

h1 {
    color: orangered;
    background-color: black;
}